<div th:fragment="itemModal (item)">
    <div th:id="${item.id}" class="modal">
        <div class="modal-background"></div>
        <div class="modal-card">
            <header class="modal-card-head">
                <p class="modal-card-title is-capitalized" th:text="${item.name}"></p>
                <button class="delete" aria-label="close"></button>
            </header>
            <section class="modal-card-body">
                <p class="subtitle is-3" th:text="${item.description}"></p>
            </section>
            <footer class="modal-card-foot">
                <div th:if="${item instanceof T(com.PokeScam.PokeScam.DTOs.PotionDTO) or
                            item instanceof T(com.PokeScam.PokeScam.DTOs.ReviveDTO)}">
                    <form th:action="@{/inventory/item/{id}/use(id=${item.id})}" th:method="get">
                        <button class="button is-primary">Use</button>
                    </form>
                </div>

            </footer>
        </div>
    </div>
</div>