<div th:fragment="pkmnModal">
  <div th:id="${pkmnInfo.id}" class="modal">
    <div class="modal-background"></div>
    <div class="modal-card">
      <header class="modal-card-head">
        <p class="modal-card-title is-capitalized" th:text="${pkmnInfo.displayName}"></p>
        <button class="delete" aria-label="close"></button>
      </header>
      <section class="modal-card-body">
        <div class="is-flex is-align-items-center is-gap-3">
          <figure class="box image is-128x128">
            <img th:src="${pkmnInfo.imageURL}" th:alt="${pkmnInfo.displayName}" />
          </figure>
          <div class="is-flex is-flex-direction-column">
            <div class="tags are-medium has-addons">
              <span class="tag is-success">Hp</span>
              <span class="tag">[[${pkmnInfo.curHp}]]/[[${pkmnInfo.maxHp}]]</span>
            </div>
            <div class="is-flex is-gap-3">
              <div class="tags are-medium has-addons">
                <span class="tag is-info">Level</span>
                <span class="tag">[[${pkmnInfo.level}]]</span>
              </div>
              <div class="tags are-medium has-addons">
                <span class="tag is-primary">Exp</span>
                <span class="tag">[[${pkmnInfo.exp}]]</span>
              </div>
            </div>
          </div>
        </div>
        <p class="subtitle">Moves</p>
        <div class="tags are-medium">
          <div th:each="moveInfo : ${pkmnInfo.allMoves.moves}">
            <span class="tag is-info">[[${moveInfo.displayName}]]</span>
          </div>
        </div>
        <p class="subtitle">Stats</p>
        <div class="tags are-medium">
          <div class="tags has-addons"><span class="tag is-danger">Atk</span><span class="tag">[[${pkmnInfo.allStats.atk.statValue}]]</span></div>
          <div class="tags has-addons"><span class="tag is-info">Def</span><span class="tag">[[${pkmnInfo.allStats.def.statValue}]]</span></div>
          <div class="tags has-addons"><span class="tag is-dark">Spa</span><span class="tag">[[${pkmnInfo.allStats.spa.statValue}]]</span></div>
          <div class="tags has-addons"><span class="tag is-primary">Spd</span><span class="tag">[[${pkmnInfo.allStats.spd.statValue}]]</span></div>
          <div class="tags has-addons"><span class="tag is-warning">Spe</span><span class="tag">[[${pkmnInfo.allStats.spe.statValue}]]</span></div>
        </div>
        <div class="tags are-medium">
          <div class="tags has-addons"><span class="tag is-danger">Base Atk</span><span class="tag">[[${pkmnInfo.allStats.atk.baseStat}]]</span></div>
          <div class="tags has-addons"><span class="tag is-info">Base Def</span><span class="tag">[[${pkmnInfo.allStats.def.baseStat}]]</span></div>
          <div class="tags has-addons"><span class="tag is-dark">Base Spa</span><span class="tag">[[${pkmnInfo.allStats.spa.baseStat}]]</span></div>
          <div class="tags has-addons"><span class="tag is-primary">Base Spd</span><span class="tag">[[${pkmnInfo.allStats.spd.baseStat}]]</span></div>
          <div class="tags has-addons"><span class="tag is-warning">Base Spe</span><span class="tag">[[${pkmnInfo.allStats.spe.baseStat}]]</span></div>
          <div class="tags has-addons"><span class="tag is-success">Base Hp</span><span class="tag">[[${pkmnInfo.allStats.hp.baseStat}]]</span></div>
        </div>
        <p class="subtitle is-3" th:text="${pkmnInfo.flavorText}"></p>
      </section>
      <footer class="modal-card-foot">
        <form th:action="@{/pokemon/{id}(id=${pkmnInfo.id})}" th:method="delete" th:if="${pkmnInfo.id != -1}">
          <button class="button is-danger">Release</button>
        </form>
        <form th:action="@{/pokemon/swap/{swapId}(swapId=${pkmnInfo.id})}" method="post" th:if="${pkmnInfo.isInBox}">
          <button class="button is-primary">Swap</button>
        </form>
        <form th:action="@{/pokemon/healcost/{id}(id=${pkmnInfo.id})}" method="post">
          <button class="button is-success">
            <span class="icon"><i class="fa-solid fa-dollar-sign"></i>[[${healPkmnForCurrencyHealCost}]]</span>
            <span></span>
            <span class="mx-1">Heal</span>
            <span class="icon"><i class="fa-solid fa-heart"></i>[[${healPkmnForCurrencyHealAmount}]]</span>
          </button>
        </form>
        <form th:action="@{/pokemon/setAsActivePkmn(newActivePkmnId=${pkmnInfo.id})}" method="post" th:if="${!pkmnInfo.isInBox}">
          <button class="button is-warning">Set as active</button>
        </form>
      </footer>
    </div>
  </div>
</div>
