<div layout:decorate="~{layout}" layout:fragment="content">
  <a href="/encounterPath">
    <button class="button is-info">Return to path</button>
  </a>

  <div class="is-flex is-justify-content-center is-align-items-center mt-3" style="gap: 200px;">
    <div class="fixed-grid" style="width: 400px;">
      <div class="grid">
        <button class="button" onclick=damage(event) th:data-movename="${activePkmn.allMoves.move1.apiName}">[[${activePkmn.allMoves.move1.displayName}]]</button>
        <button class="button" onclick=damage(event) th:data-movename="${activePkmn.allMoves.move2.apiName}">[[${activePkmn.allMoves.move2.displayName}]]</button>
        <button class="button" onclick=damage(event) th:data-movename="${activePkmn.allMoves.move3.apiName}">[[${activePkmn.allMoves.move3.displayName}]]</button>
        <button class="button" onclick=damage(event) th:data-movename="${activePkmn.allMoves.move4.apiName}">[[${activePkmn.allMoves.move4.displayName}]]</button>
      </div>
    </div>
    <div class="fixed-grid" style="width: 400px;">
      <div class="grid">
        <div th:each="pkmn, iter : ${pkmnTeam}">
          <div th:replace="~{fragments/pkmnPreview :: pkmnPreview (pkmnInfo=${pkmn}, showHp=true, isActivePkmn=${activePkmnIdx==iter.index})}"></div>
        </div>
      </div>
    </div>
    <div th:each="pkmnToFight : ${encounterList}">
      <div th:replace="~{fragments/pkmnPreview :: pkmnPreview (pkmnInfo=${pkmnToFight}, showHp=true)}"></div>
    </div>
  </div>
</div>

<script th:inline="javascript">
  async function damage(event) {
    console.log(event.target.dataset.movename)
    // const token = document.querySelector('meta[name="_csrf"]').content;
    // const header = document.querySelector('meta[name="_csrf_header"]').content;
    // let encounterPkmnData = /*[[${encounterPkmn}]]*/ null;
    // console.log(encounterPkmnData);
    // const encounter = document.getElementById("encounterPkmn");
    // const encounterPkmnImgURL = encounter.src;
    // const pokeBallImgURL =
    //   "https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/items/poke-ball.png";
    // encounter.src = pokeBallImgURL;
    // let isCatchSuccessful = await fetch(
    //   "/tryCatchPkmn",
    //   {
    //     method: "POST",
    //     headers: {
    //       "Content-Type": "application/json",
    //       [header]: token
    //     },
    //     body: JSON.stringify(encounterPkmnData)
    //   }
    // );
    // let data = await isCatchSuccessful.json();
    // if (data.catchSuccessful === true) {
    //   encounter.style.filter = "brightness(50%)";
    //   document.getElementById("helpText").innerHTML = data.addMsg;
    //   document.getElementById("catchButton").disabled = true;
    // } else {
    //   encounter.src = encounterPkmnImgURL;
    // }
  }
</script>
