<div layout:decorate="~{layout}" layout:fragment="content">
  <meta name="_csrf" th:content="${_csrf.token}">
  <meta name="_csrf_header" th:content="${_csrf.headerName}">

  <a href="/encounterPath">
    <button class="button is-info">Return to path</button>
  </a>

  <div class="is-flex is-justify-content-center is-align-items-center mt-3" style="gap: 200px;">
    <div class="is-flex is-flex-direction-column is-align-items-center">
      <div class="box">
        <p class="subtitle">[[${activePkmn.pkmn.displayName}]]</p>
        <div class="field is-grouped is-grouped-multiline">
          <div class="control">
            <div class="tags has-addons are-medium"><span class="tag is-info">Lv</span><span class="tag">[[${activePkmn.pkmn.level}]]</span></div>
          </div>
          <div class="control">
            <div class="tags has-addons are-medium"><span class="tag is-success">Hp</span><span class="tag">[[${activePkmn.pkmn.curHp}]]/[[${activePkmn.pkmn.maxHp}]]</span></div>
          </div>
        </div>
      </div>
      <div class="fixed-grid" style="width: 400px;">
        <div class="grid">
          <div th:each="moveInfo, iter : ${activePkmn.pkmn.allMoves.moves}">
            <div class="is-flex is-flex-direction-column is-align-items-center">
              <form th:action="@{/encounter/executeTurn(moveIdx=${iter.index})}" method="post" class="mt-5">
                <div class="field">
                  <button class="button">[[${moveInfo.displayName}]]</button>
                </div>
              </form>
              <div class="box field is-grouped is-grouped-multiline">
                <div class="control">
                  <div class="tags has-addons"><span class="tag is-danger">Power</span><span class="tag">[[${moveInfo.power}]]</span></div>
                </div>
                <div class="control">
                  <div class="tags has-addons"><span class="tag is-warning">PP</span><span class="tag">[[${moveInfo.pp}]]</span></div>
                </div>
                <div class="control">
                  <div class="tags has-addons"><span class="tag is-info">Accuracy</span><span class="tag">[[${moveInfo.accuracy}]]</span></div>
                </div>
                <div class="control">
                  <div class="tags has-addons"><span class="tag is-primary">Damage Class</span><span class="tag">[[${moveInfo.damageClass}]]</span></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="fixed-grid" style="width: 400px;">
      <div class="grid">
        <div th:each="myPkmn : ${pkmnTeam}">
          <div th:replace="~{fragments/pkmnPreview :: pkmnPreview (pkmnInfo=${myPkmn.pkmn}, showHp=true, showLvl=true, isDefeated=${myPkmn.isDefeated})}"></div>
        </div>
      </div>
    </div>
    <div class="fixed-grid" style="width: 400px;">
      <div class="grid">
        <div th:each="pkmnToFight : ${encounterList}">
          <div th:replace="~{fragments/pkmnPreview :: pkmnPreview (pkmnInfo=${pkmnToFight.pkmn}, showHp=true, showLvl=true, giveIdOfEnemyHp=true, isDefeated=${pkmnToFight.isDefeated})}"></div>
        </div>
      </div>
    </div>
    <div class="is-flex is-flex-direction-column is-align-items-center">
      <div class="box">
        <h1 class="title" th:if="${encounterData.encounterType.toString() == 'Trainer'}">[[${encounterData.trainerUsername}]]</h1>
        <p class="subtitle">[[${enemyPkmn.pkmn.displayName}]]</p>
        <div class="field is-grouped is-grouped-multiline">
          <div class="control">
            <div class="tags has-addons are-medium"><span class="tag is-info">Lv</span><span class="tag">[[${enemyPkmn.pkmn.level}]]</span></div>
          </div>
          <div class="control">
            <div class="tags has-addons are-medium"><span class="tag is-success">Hp</span><span class="tag">[[${enemyPkmn.pkmn.curHp}]]/[[${enemyPkmn.pkmn.maxHp}]]</span></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script th:inline="javascript">
  (function redirectToEncounterPath() {
    let notifMsg = /*[[${notifMsg}]]*/ null;
    console.log(notifMsg);
    if(notifMsg !== null && notifMsg.success == true) {
      setTimeout(function() {
        window.location.href = "/encounterPath";
      }, 3000);
    }
  })();

  async function damage(event) {
    const token = document.querySelector('meta[name="_csrf"]').content;
    const header = document.querySelector('meta[name="_csrf_header"]').content;

    let moveIdx = event.target.dataset.moveidx;
    let moveInfo;
    if(moveIdx == 1) moveInfo = /*[[${activePkmn.pkmn.allMoves.moves[0]}]]*/ null;
    else if(moveIdx == 2) moveInfo = /*[[${activePkmn.pkmn.allMoves.moves[1]}]]*/ null;
    else if(moveIdx == 3) moveInfo = /*[[${activePkmn.pkmn.allMoves.moves[2]}]]*/ null;
    else if(moveIdx == 4) moveInfo = /*[[${activePkmn.pkmn.allMoves.moves[3]}]]*/ null;

    let res = await fetch(
      "/encounter/executeTurn",
      {
        method: "POST",
        headers: {
          "Content-Type": "application/json",
          [header]: token
        },
        body: JSON.stringify(moveInfo)
      }
    );
    if(res.redirected) {
      window.location.href = res.url;
    }
  }
</script>