<div layout:decorate="~{layout}" layout:fragment="content">
  <form
    th:action="@{/api/addPokemonToTeam}"
    method="post"
    th:object="${pokemon}"
  >
    <label class="label" for="name"></label>
    <input
      class="input"
      type="text"
      th:field="*{name}"
      placeholder="Pokemon to add"
    />
  </form>
  <div class="fixed-grid">
    <div class="grid">
      <div th:each="pkmn : ${pkmnTeam}">
        <div th:replace="~{fragments :: pkmnPreview (pkmnInfo=${pkmn})}"></div>
      </div>
    </div>
  </div>
</div>
