<div layout:decorate="~{layout}" layout:fragment="content">
  <table class="table is-bordered is-striped is-hoverable is-fullwidth">
    <thead>
    <tr>
      <th>Name</th>
      <th>HP</th>
    </tr>
    </thead>
    <tbody>
    <div th:each="pokemon : ${pokemons}">
      <tr class="modal-trigger" >
        <td th:text="${pokemon.displayName}"></td>
        <td>[[${pokemon.curHp}]]/[[${pokemon.maxHp}]]</td>
        <td>
          <form th:action="@{/inventory/item/{itemId}/use/{pkmnId}(itemId=${item.id}, pkmnId=${pokemon.id})}" method="post">
            <button class="button is-primary">Use</button>
          </form>
        </td>
      </tr>
    </div>
    </tbody>
  </table>

  <nav class="pagination is-centered" role="navigation" aria-label="pagination">
    <a th:href="${pageInfo.isFirst} ? '' : @{/inventory/item/{itemId}/use (itemId=${item.id}, page=${pageInfo.number-1}, size=${pageSize})}" class="pagination-previous" th:classappend="${pageInfo.isFirst} ? ' is-disabled' : ''">Previous</a>
    <a th:href="${pageInfo.isLast} ? '' : @{/inventory/item/{itemId}/use (itemId=${item.id}, page=${pageInfo.number+1}, size=${pageSize})}" class="pagination-next" th:classappend="${pageInfo.isLast} ? ' is-disabled' : ''">Next</a>
    <ul th:if="${pageInfo.totalElements <= 4 and pageInfo.totalElements > 0}" class="pagination-list">
      <li th:each="i : ${#numbers.sequence(0, pageInfo.totalPages-1)}">
        <a th:href="@{/inventory/item/{itemId}/use (itemId=${item.id},page=${i}, size=${pageSize})}" class="pagination-link" th:classappend="${pageInfo.number == i} ? ' is-current' : ''">[[${i+1}]]</a>
      </li>
    </ul>
  </nav>
</div>