<div layout:decorate="~{layout}" layout:fragment="content">
  <form th:action="@{/register}" method="post" th:object="${user}">
    <div class="field">
      <label class="label" for="username">Username</label>
      <input
        th:field="*{username}"
        class="input"
        type="text"
        placeholder="Username"
      />
    </div>
    <div class="field">
      <label class="label" for="password">Password</label>
      <input
        th:field="*{password}"
        class="input"
        type="text"
        placeholder="Password"
      />
    </div>
    <div class="field">
      <button class="button is-link" type="submit">Submit</button>
    </div>
  </form>
</div>
