<div layout:decorate="~{layout}" layout:fragment="content">
  <div th:each="item : ${shopItems}">
    <div class="box is-flex is-flex-direction-column is-gap-3">
      <div class="has-text-centered">
        <span class="icon">
          <i class="fa-solid fa-bolt-lightning fa-4x"></i>
        </span>
      </div>
      <form th:action="@{/buy/{itemId}(itemId=${item.id})}" method="post">
        <button class="button is-info">
          <span class="icon"><i class="fa-solid fa-dollar-sign"></i>[[${item.price}]]</span>
          <span></span>
          <span class="mx-1">Buy Energy</span>
          <span class="icon"><i class="fa-solid fa-bolt-lightning"></i>1</span>
        </button>
      </form>
      </div>
  </div>
</div>