<!doctype html>
<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
>
  <head>
    <title layout:title-pattern="$LAYOUT_TITLE - $CONTENT_TITLE">
      Home Page
    </title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@1.0.4/css/bulma.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.0/css/all.min.css"
    />
  </head>
  <body class="is-flex is-flex-direction-column" style="min-height: 100vh">
    <header></header>
    <main
      class="is-flex is-justify-content-center is-align-items-center"
      style="flex: 1"
    >
      <h1 class="title">[[${unbanStatusMsg}]]</h1>
      <a class="button is-link" href="/login">Login</a>
    </main>
    <footer></footer>
  </body>
</html>
